@import url("/normalize.css");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --DarkBlue: hsl(215, 17%, 20%);
  --VeryDark-Blue: hsl(216, 12%, 8%);

  /* Font-weight */
  --font-family: "Overpass", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--VeryDark-Blue);
  display: flex;
  height: 100vh;
}
/* Container */
.container {
  background-color: var(--Dark-Blue);
}

.start-image {
  padding: 1.2rem;
  margin: 2rem 0 1rem 2rem;
  width: 15%;
  background-color: var(--DarkBlue);
}
/* Article */
.info {
  margin: 0 0 1rem 2rem;
}

.title {
  font-family: var(--font-family);
  color: var(--White);
  font-weight: 700;
}

.description {
  font-family: var(--font-family);
  color: var(--Light-Grey);
  font-size: 15px;
}
/* buttons-container */

.buttons-container {
}
